<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1> <%= fileName %></h1>


<table>
  <tr>
    <th>File</th>
    <th>Description</th>
  </tr>
  <tr>
    <td> <%= fileName %></td>
    <td> <%= description %> </td>
  </tr>
</table>

  </body>
</html>
