<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>All files</title>
</head>
<body>
  <h1> Filesystem</h1>
        <a href="<%= filepath %>">File</a>  
  </body>
  </html>
